.custom-select {
    position: relative;
    width: 200px;
}

a{
    text-decoration: none;
    color:black;
}

body{
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
}
